<div class="container">
    <div class="box">
        <h3 class="">Ajouter une tache</h3>
        <form action="/submit" method="POST" class="form_one">
            <input type="text" placeholder="ajouter un texte" name="title">
            <input type="submit" value="Ajouter">
        </form>
    </div>


    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Todo</th>
                <th>Edité</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            <% todos.forEach(todo=> { %>
                <tr>
                    <td>
                        <%= todo._id %>
                    </td>
                    <td>
                        <%= todo.title %>
                    </td>
                    <td>
                        <a href="/editer/:id/<%= todo._id %>" class="btn">
                           Editer <i class="fa-solid fa-pencil"></i>
                        </a>
                    </td>
                    <td>
                        <form method="POST" action="/supprimer/<%= todo._id %>?_method=DELETE" >
                        <button type="submit" class="btn">
                             Delete
                              <!-- <i class="fa-solid fa-trash" style="color:brown"></i> -->
                        </button>
                    </form>
                    </td>
                </tr>
                <% }) %>
                   
        </tbody>
    </table>
</div>