<div class="box">
    <h3 class="">Editer un texte</h3>
    <form action="/submit" method="POST" class="form_one">
        <input type="text" placeholder="Editer une tache" name="title">
        <input type="submit" value="Editer">
    </form>
</div>
